.containerCaixasSignificado {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.containerSignificado {
    width: 40%;
    padding: 40px;
    background-color: #F29494;
    border-radius: 30px;
    border: 1px solid black;
    margin-right: 50px;
}

.containerExibirEscrita {
    width: 13%;
    align-content: center;
    text-align: center;
    height: 280px;
    padding: 20px;
    background-color: #FFB1AC;
    border-radius: 30px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.containerExibirConjugacao {
    width: 14%;
    align-content: center;
    text-align: center;
    height: 280px;
    padding: 20px;
    background-color: #FFB1AC;
    border-radius: 30px;
    border: 1px solid black;
    margin-bottom: 50px;
    margin-right: 50px;
}

.tituloPalavraSignificado {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.tituloPalavraSignificadoVerbo {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.textoPalavraSignificado {
    font-size: 16px;
    color: black;
    margin-bottom: 6px;
}

.textoExibirEscrita {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.textoExibirConjugacao {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.popUpConjugacao {
    height: 500px;
}

.popUpCabecalho {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.popUpTitulo {
    width: 94%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.popUpFecharContainer {
    width: 6%;
}

.popUpFechar {
    background-color: #EC4C54;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}

.popUpTabela {
    width: 90%;
}

table {
    width: 100%; /* Define a largura total da tabela */
}

th {
    text-align: left; /* Alinha o texto à esquerda */
    border-bottom: 1px solid #ddd; /* Adiciona uma linha de borda inferior */
    padding-bottom: 20px;
  }

td {
    text-align: left; /* Alinha o texto à esquerda */
    border-bottom: 1px solid #ddd; /* Adiciona uma linha de borda inferior */
  }

  th:nth-child(1), td:nth-child(1) {
    width: 60%; /* Largura da primeira coluna */
  }

  th:nth-child(2), td:nth-child(2) {
    width: 20%; /* Largura da segunda coluna */
  }

  th:nth-child(3), td:nth-child(3) {
    width: 20%; /* Largura da terceira coluna */
  }